<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}{% endblock %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css">
<link rel="stylesheet" href="https://newcss.net/theme/night.css">
<link rel="stylesheet" href="{{ url_for('j_score.static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="icon" type="image/x-icon" href="{{ url_for('j_score.static', filename='favicon.ico') }}">
        {% block scripts %}{% endblock %}
    </head>
    <header>
        <div class="universal-portfolio-nav">
            <a href="/" class="uni-back-link">
                <i class="fa-solid fa-chevron-left"></i>
                <span>Back to Portfolio</span>
            </a>
        </div>
        <h1>
            <a href="{{ url_for('j_score.index')}}">J-score*</a>
        </h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('j_score.signup') }}">Sign up</a></li>
                <li><a href="{{ url_for('j_score.admissions') }}">Admission Probability Calculator</a></li>
                <li><a href="{{ url_for('j_score.r_score') }}">Calculate your R-Score</a></li>
                <li><a href="{{ url_for('j_score.check_r_score') }}">Check your R-Score</a></li>
            </ul>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
    {% block footer %}{% endblock %}
</html>
