{% extends "layout.html" %}

{% block title %}

<title>Forgot Password - J-Score</title>

{% endblock %}

{% block body %}
<main>
    <form action="{{ url_for('j_score.password_result') }}" method="post">
        <h1>Find your password:</h1>
        <section class="name">
            <h2>Your name</h2>
                <p>
                    <label for="q1">Answer:</label>
                    <input type="text" id="name" name="name" placeholder="Bob" required>
                </p>
        </section>
        <section class="nickname">
            <h2>Your username</h2>
                <p>
                    <label for="nickname">Answer:</label>
                    <input type="text" id="nickname" name="nickname" placeholder="Bob1234" required>
                </p>
        </section>
            <button type="submit">Submit</button>
    </form>
</main>
{% endblock %}