<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ project.title }} | Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container my-5">
        <a href="/" class="btn btn-link mb-4">← Back to Home</a>
        <div class="bg-white p-5 rounded shadow-sm">
            <h1 class="display-5 font-weight-bold">{{ project.title }}</h1>
            <p class="text-primary fw-bold">{{ project.category }}</p>
            <hr>
            <div class="row mt-4">
                <div class="col-md-8">
                    <h3>The Engineering Process</h3>
                    <p class="lead">{{ project.full_story }}</p>
                    <h4 class="mt-4">Technologies Used</h4>
                    <ul>
                        {% for t in project.tech %}
                        <li>{{ t }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="bg-light border text-center p-5 text-muted">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>